.pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: auto;
  }
   .pdf-container {
    padding: 1vw;
    margin: 20px;
    height: auto;
    overflow-y:hidden;
    box-shadow: 0 25px 50px 0 rgba (62, 62, 62, 0.15);
    -webkit-box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%);
    width: 98vw;
  }
  .pdf-container1{
    margin: 20px;
    height: 750px;
    overflow-y:hidden;
    box-shadow: 0 25px 50px 0 rgba (62, 62, 62, 0.15);
    -webkit-box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%);
  } 
  .pdf-container-xl {
    margin: 20px;
    height: 800px;
    overflow-y:hidden;
    box-shadow: 0 25px 50px 0 rgba (62, 62, 62, 0.15);
    -webkit-box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%);
  } 
  .pdf-options {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    background-color: black;
    opacity: 0.5;
    color: white;

  }
  .button-container {
    display: flex;
    gap: 8px;
  }

  .button-container button{
    background-color: transparent;
    color: white;
    padding: 2px;
  }