@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/font.css');

.discurso{
  width: 98%;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.responsabilidad-social-title {
  display: flex; 
  justify-items: center;
  text-align: center;
}

.responsabilidad-social-title h1 {
  color: var(--clr-primary);
  font-family: var(--font-headers);
  font-size: var(--font-h3) !important;
  width: 98vw;
  text-align: center;
  justify-content: center;
}
.responsabilidad-social-subtitle {
  margin-top: 2vh;
  margin-left: 10vw;
}

.responsabilidad-social-subtitle h2 {
  margin: 0;
  color: var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-h4) !important;
}
.responsabilidad-social-content{
  width: 100%;
  min-height: 40vh;
}
.responsabilidad-social-content iframe{
width: 98vw;
min-height:70vh ;
}
.responsabilidad-social-text{
  margin-top: 2vh;
  padding:0 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vh;
  color:var(--clr-black);
  font-family: var(--font-principal);
  font-size: var(--font-body) !important;
}
.discurso{
  align-self: center;
  color:var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-body) !important;
  font-weight: 500;
}
.responsabilidad-social-text-title{
  color:var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-body) !important;
  font-weight: 700;
  text-align: center;
  justify-content: center;
}
.responsabilidad-social-text-content{
  color:var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-body) !important;
  text-align: justify;
  width: auto;
}
