@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/fonts.css');
.panels-civilidad {
    position: absolute;
    font-size: var(--font-size-4);
    font-family: var(--font-principal);
    opacity: .3;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.4vw;
}

.panels-container {
    height: 43vw;
    display: flex;
}


.panels {
    width: 25vw;
    height: 100%;
}

.panels-face {
    height: 100%;
    width: 100%;
}

.image-panel {
    height: 100%;
}

.panel-title {
    position: absolute;
    margin-top: 20vw;
    margin-left: 30px;
    font-size: 2.2vw;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    line-height: 1em;
    font-size: var(--font-size-1);
    font-family: var(--font-principal);
}

.panel-title span {
    display: block;
}

.panel-boton {
    position: absolute;
    margin-top: 35vw;
    margin-left: 30px;
}

.panel-boton button {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    border-color:white ;
}

.last .panel-info {
    position: absolute;
    margin-top: 31vw;
    margin-left: 30px;
    color: white;
}

.panel-info {
    position: absolute;
    margin-top: 31.4vw;
    margin-left: 30px;
    font-size: var(--font-size-2);
    font-family: var(--font-principal);
    color: white;
    line-height: 1em;
}

.panel-info:nth-child(4) {
    margin-top: 580px;
}

#panel1-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-1.png");
    background-size: cover;

}

#panel2-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-2.png");
    background-size: cover;
}

#panel3-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-3.png");
    background-size: cover;
}

#panel4-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-4.png");
    background-size: cover;
}


@media only screen and (max-width: 1024px) {

    .panels-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .panels {
        width: 50%;
        height: 50vh;
    }

    .panels-civilidad {
        display: none;
    }

    .panel-title {
        margin-top: 13vh;
        margin-left: 3vw;
        font-size: 4vw
    }

    .panel-boton {
        margin-top: 35vh;
        margin-left: 3vw;
    }

    .panel-boton button {
        font-size: 2vw;
    }

    .panel-info,
    .last .panel-info {
        margin-top: 25vh;
        margin-left: 3vw;
        font-size: 2vw;
    }
}

@media only screen and (max-width: 645px) {
    #panel1-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-r-1.jpg");
        background-size: cover;
    }

    #panel2-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-r-2.jpg");
        background-size: cover;
    }

    #panel3-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-r-3.jpg");
        background-size: cover;
    }

    #panel4-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/paneles/panel-r-4.jpg");
        background-size: cover;
    }
}