@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/fonts.css');
.panels-civilidad {
    position: absolute;
    font-size: var(--font-size-4);
    font-family: var(--font-principal);
    opacity: .3;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.4vw;
}

.panels-container {
    height: 43vw;
    display: flex;
}


.panels {
    width: 16.6vw;
    height: 100%;
    margin: 0; /* Asegúrate de que no haya márgenes */
    padding: 0; /* Asegúrate de que no haya relleno */
}

.panels-face {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegúrate de que el modelo de caja sea border-box */
}

.image-panel {
    height: 100%;
}

.panel-title {
    position: absolute;
    margin-top: 27vw;
    margin-left: 30px;
    font-size: 2.2vw;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    line-height: 1em;
    font-size: var(--font-size-1);
    font-family: var(--font-principal);
}

.panel-title span {
    display: block;
}

.panel-boton {
    position: absolute;
    margin-top: 38vw;
    margin-left: 30px;
}

.panel-boton button {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    border-color:white ;
}


.panel-info {
    position: absolute;
    margin-top: 34.5vw;
    margin-left: 20px;
    font-size: var(--font-size-2);
    font-family: var(--font-principal);
    color: white;
    line-height: 1em;
}

.panel-info:nth-child(4) {
    margin-top: 580px;
}

#panel1-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesEscritorio/Diseño paneles ordenador V3 - DATA CIVILIDAD-30.png");
    background-size: cover;

}

#panel2-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesEscritorio/Diseño paneles ordenador V3 - DATA CIVILIDAD-25.png");
    background-size: cover;
}

#panel3-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesEscritorio/Diseño paneles ordenador V3 - DATA CIVILIDAD-26.png");
    background-size: cover;
}

#panel4-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesEscritorio/Diseño paneles ordenador V3 - DATA CIVILIDAD-27.png");
    background-size: cover;
}
#panel5-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesEscritorio/Diseño paneles ordenador V3 - DATA CIVILIDAD-29.png");
    background-size: cover;
}

#panel6-frontal {
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesEscritorio/Diseño paneles ordenador V3 - DATA CIVILIDAD-28.png");
    background-size: cover;
}


@media only screen and (max-width: 1024px) {

    .panels-container {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-wrap: wrap;
    }

    .panels {
        width: 50%;
        height: 40vh;
    }

    .panels-civilidad {
        display: none;
    }

    .panel-title {
        margin-top: 23vh;
        margin-left: 3vw;
        font-size: 4vw
    }

    .panel-boton {
        display: none;
        /* margin-top: 35vh; */
        /* margin-left: 3vw; */
    }

    .panel-boton button {
        font-size: 2vw;
    }

    .panel-info,
    .last .panel-info {
        margin-top: 30vh;
        margin-left: 3vw;
        font-size: 2vw;
    }
}

@media only screen and (max-width: 645px) {
    #panel1-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesMovil/Diseño mobile  V3 - DATA CIVILIDAD-19.png");
        background-size: cover;
    }

    #panel2-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesMovil/Diseño mobile  V3 - DATA CIVILIDAD-20.png");
        background-size: cover;
    }

    #panel3-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesMovil/Diseño mobile  V3 - DATA CIVILIDAD-21.png");
        background-size: cover;
    }

    #panel4-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesMovil/Diseño mobile  V3 - DATA CIVILIDAD-22.png");
        background-size: cover;
    }
    #panel5-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesMovil/Diseño mobile  V3 - DATA CIVILIDAD-23.png");
        background-size: cover;
    }

    #panel6-frontal {
        background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/recursosSMOB/PanelesMovil/Diseño mobile  V3 - DATA CIVILIDAD-24.png");
        background-size: cover;
    }
}