@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Lora&display=swap');


.general-container,.home-content, .soon, .publicaciones-container{
    background-image: url("https://smob-storage.s3.us-east-2.amazonaws.com/marca.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    height: calc((100vh/8)*6);
    /* background-color: #f4f1ee; */
    align-items: start;
    gap: 0;
    width: 98vw;
}

.col-lg-6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 49vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    text-align: justify;
}

.col-lg-6 img{
    width: 80%;
    height: 90%;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.general-title{
    color: #762f0b;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 0 50px 0 50px;
    width: 49vw;
    font-family: 'Lora', serif;
    font-size: 24px;
    margin-bottom: 2vh;
}

.general-content{
    color: #762f0b;
    display: flex;
    padding: 0 50px 0 50px;
    font-family: 'Lora', serif;
    font-size: 18px;
    width: 49vw;
}

.general-content-video{
    color: #762f0b;
    display: flex;
    padding: 0 50px 0 10px;
    width: 100%;
    font-family: 'Lora', serif;
    font-size: 18px;
    margin-top: 2vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    /* align-items: center; */
}

.general-content-video iframe{
    width: 30vw;
    height: 30vh;
    margin-top: 2vh;
}

.pdf{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pdf p{
    color: #762f0b;
    font-family: 'Lora', serif;
    font-size: 18px;
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: left;
    text-align: left;
    width: 90%;
}

.pdf-cont{
    width: 100%;
    height: 100%;
}
@media (max-width: 960px) {
    .general-container{
        margin-top: 100px;
    }
    .responsive-columna{
        height: auto;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .general-title{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 90vw !important;
    }
    .imagen-responsive{
        width: 50vw !important;
    }
    .text-responsive{
        width: 90vw !important; 
        font-size: 16px !important;
    }
    .pdf-responsive{
        width: 90vw !important;
        margin-top: 3vh !important;
    }
.general-content-video{
margin-left: -10vw !important;
}
.responsive-row{
    height: auto !important;
    display: flex !important;
    flex-direction:row !important;
    flex-wrap: wrap !important;
}
.todo{
    width: 100vw !important;
    height: 90vh !important;
}
.medio{
    width: 40vw !important;
}
.graficas.responsive-columna div{
    width: 100vw !important;
}

.f-14{
    font-size: 14px !important;
}
.graficas-censo div{
    width: 100vw !important;
}
}