@import url("../../assets/styles/fonts.css");
.contentG{
    height: 110vh;
    width: 98vw;
    display: block;
   
}
.contentG h1, .contentG h3{
    font-family:var(--font-principal) !important ;
    
}
.graphs {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.div-graph-button{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.cus {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*1); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cus2 {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cu {
    /* position: absolute;
    top: calc((100%/4)*2.7);
    left: calc((100%/4)*.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index: 20;
}

.cu2 {
    /* position: absolute;
    top: calc((100%/4)*2.7);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cu-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cu2-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cus-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*1); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cus2-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    z-index:20;
}

.cus:hover,
.cus2:hover,
.cus-e:hover,
.cus2-e:hover,
.cu:hover,
.cu2:hover,
.cu-e:hover,
.cu2-e:hover {
    background-color: #762f0b;
}

.chartContainer {

    margin-top: 100vh;
  }
.graphs-2 {
    margin-top: calc((100vh/10)*1);
    margin-bottom: calc((100vh/10)*1);
    width: 95vw;
    display: flex;
    margin-left: calc((100vw/8)*0);
    align-items: center;
    height: auto;
}
.svg.highcharts-root{
    width: 80%;
    height: 800px;
}

/* .linea1G2 {
    opacity: .5;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);
    height: calc((100vh/10)*6.5);
    left: calc(94px + .5%);
    position: relative;
    z-index: 6;

} */
.tamañoimagen{
    width: 1.3em;
    height: 1.3em;
}
.linea1G2 {
    opacity: .5;
    border-left: 2px solid #df5d5d;
    bottom: 10vh;
    height: 65vh;
    left: calc(94px + 1%);
    position: relative;

}

.cuadro1G2 {
    position: absolute;
    display: flex;
    margin-left: calc(64px + 2%);
    margin-top: calc(10vh + 10%);
    width: 3.5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid #df5d5d;
    cursor: pointer;
}

.linea2G2 {
    opacity: .5;
    border-left: 2px solid green;
    bottom: 12vh;
    height: 61vh;
    left: calc(50px + 21.6%);
    position: relative;
}


.cuadro2G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 21%);
    margin-top: calc(10vh + 10%);
    
    width: 3.5rem;
    height: 5rem;
    background-color: white;
    justify-content: center;
    border: 1px solid green;
    
}

.linea3G2 {
    opacity: .5;
    border-left: 2px solid #ced83f;
    bottom: 15vh;
    height: 55vh;
    left: calc(28px + 31%);
    position: relative;
}

.cuadro3G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(10px + 29%);
    margin-top: calc(7vh + 10%);
    
    width: 3.7rem;
    height: 5rem;
    background-color: white;
    justify-content: center;
    border: 1px solid #ced83f;
}

.linea4G2 {
    opacity: .5;
    border-left: 2px solid purple;
    bottom: 15vh;
    height: 55vh;
    left: calc(20px + 42.1%);
    position: relative;
}

.cuadro4G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(10px + 39.2%);
    margin-top: calc(5vh + 7.5%);
    
    width: 3.7rem;
    height: 5rem;
    background-color: white;
    justify-content: center;
    border: 1px solid purple;
}

.linea5_1G2 {
    opacity: .4;
    border-left: 2px solid #2e006d;
    bottom: 19vh;
    height: 47vh;
    left: calc(15px + 53.5%);
    position: relative;
}

.cuadro5_1G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(-50px + 54.5%);
    margin-top: calc(10vh - 3%);    
    width: 3.7rem;
    height: 3.8rem;
    background-color: white;
    justify-content: center;
    border: 1px solid #2e006d;
}
.linea5G2 {
    opacity: .4;
    border-left: 2px solid #df5d5d;
    bottom: 13vh;
    height: 59vh;
    left: calc(15px + 56.5%);
    position: relative;
}

.linea5_2G2 {
    opacity: .4;
    border-left: 2px solid #d6dd05;
    bottom: 25vh;
    height: 35vh;
    left: calc(15px + 54%);
    position: relative;
}

.cuadro5_2G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(10px + 50.5%);
    margin-top: calc(10vh - 15%);    
    width: 3.7rem;
    height: 3.8rem;
    background-color: white;
    justify-content: center;
    border: 1px solid #d6dd05;
}

.cuadro5G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(-50px + 52.5%);
    margin-top: calc(14vh + 13%);    
    width: 6.5rem;
    height: 5.3rem;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
}

.linea6G2 {
    opacity: .4;
    border-left: 2px solid darkgoldenrod;
    bottom: 28vh;
    height: 29vh;
    left: calc(12px + 59.5%);
    position: relative;
}

.cuadro6G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(5px + 56.2%);
    margin-top: calc(-3vh - 17%);
    
    width: 3.7rem;
    height: 5.9rem;
    background-color: white;
    justify-content: center;
    border: 1px solid darkgoldenrod;
}

.linea7G2 {
    opacity: .4;
    border-left: 2px solid #5263af;
    bottom: 17vh;
    height: 51vh;
    left: calc(10px + 62.5%);
    position: relative;
}

.cuadro7G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(5px + 59%);
    margin-top: calc(6vh + 6.8%);
    
    width: 3.7rem;
    height: 4.7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid #5263af;
}

.linea8G2 {
    opacity: .4;
    border-left: 2px solid greenyellow;
    bottom: 18vh;
    height: 49vh;
    left: calc(7px + 70.1%);
    position: relative;

}

.cuadro8G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(4px + 66.5%);
    margin-top: calc(6vh + 5%);
    
    width: 3.7rem;
    height: 4.7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid greenyellow;
}

.linea9G2 {
    opacity: .4;
    border-left: 2px solid blue;
    bottom: 18vh;
    height: 49vh;
    left: calc(7px + 77.1%);
    position: relative;

}

.cuadro9G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(4px + 73.5%);
    margin-top: calc(3vh + 3%);
    
    width: 3.7rem;
    height: 4.7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid blue;
}

.linea10G2 {
    opacity: .4;
    border-left: 2px solid #df5d5d;
    bottom: 24vh;
    height: 37vh;
    left: calc(7px + 80.1%);
    position: relative;

}

.cuadro10G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(4px + 76.5%);
    margin-top: calc(-6vh - 6%);
    
    width: 3.7rem;
    height: 4.7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
}

.linea11G2 {
    opacity: .4;
    border-left: 2px solid aquamarine;
    bottom: 26vh;
    height: 33vh;
    left: calc(7px + 85.1%);
    position: relative;

}

.cuadro11G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(4px + 81.5%);
    margin-top: calc(-6vh - 12%);
    
    width: 3.7rem;
    height: 4.7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid aquamarine;
}

.linea12G2 {
    opacity: .4;
    border-left: 2px solid violet;
    bottom: 30vh;
    height: 25vh;
    left: calc(7px + 91.1%);
    position: relative;

}

.cuadro12G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(4px + 87.5%);
    margin-top: calc(-6vh - 16%);
    
    width: 3.7rem;
    height: 4.7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid violet;
}

hr {
    position: absolute;
    display: flex;
    height: 2px;
    background-color: black;
    width: calc(84px + 82%);
    margin-left: calc(84px + .5%);
    margin-bottom: calc((100vh/10)*8);;
}

.m1G2 {
    position: absolute;
    display: flex;
    margin-left: calc(96px + 7%);
    margin-top: calc(-20vh - 28%);
    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m2G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 25.5%);
    margin-top: calc(-20vh - 28%);
    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m3G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 34%);
    margin-top: calc(-20vh - 28%);
    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m4G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 46%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m5G2 {
    position: absolute;
    display: flex;
    transform: rotate(270deg);
    margin-left: calc(20px + 54.5%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m6G2 {
    position: absolute;
    display: flex;
    transform: rotate(270deg);
    margin-left: calc(20px + 57.5%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m7G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 62%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m8G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 69%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m9G2 {
    position: absolute;
    display: flex;
    transform: rotate(270deg);
    margin-left: calc(20px + 74.5%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m10G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 78%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m11G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 83.5%);
    margin-top: calc(-20vh - 28%);

    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m12G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 90%);
    margin-top: calc(-20vh - 28%);
    width: 3rem;
    height: .7rem;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.circulo1G2 {
    position: absolute;
    display: flex;
    margin-left: calc(96px + 7.5%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo2G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 26%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo3G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 34.5%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo4G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 46.5%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo5G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 55%);
    margin-top: calc(-19vh - 23%);
    width: 1.7rem;
    border-radius: 100%;
    height: 1.7rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo6G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 58%);
    margin-top: calc(-19vh - 23%);
    width: 1.7rem;
    border-radius: 100%;
    height: 1.7rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo7G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 62.5%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo8G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 69.5%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo9G2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 75%);
    margin-top: calc(-19vh - 23%);
    width: 1.7rem;
    border-radius: 100%;
    height: 1.7rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo10G2 {
    position: absolute;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 78.5%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo11G2 {
    position: absolute;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 84%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo12G2 {
    position: absolute;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 90%);
    margin-top: calc(-19vh - 24%);
    width: 2rem;
    border-radius: 100%;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}


.linea1 {
    opacity: .5;
    border-left: 2px solid #df5d5d;
    bottom: 36vh;
    height: 13vh;
    left: calc(94px + 3.2%);
    position: relative;
}

.cuadro1 {
    position: absolute;
    display: flex;
    margin-left: calc(50px + 3.3%);
    margin-top: calc(-6vh - 24%);
    width: 4.8rem;
    justify-content: center;
    height: 4.5rem;
    background-color: white;
    border: 1px solid #df5d5d;
    cursor: pointer;
}

.linea2 {
    opacity: .4;
    border-left: 2px solid green;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 15.5%);
    position: relative;
}

.cuadro2 {
    position: absolute;
    display: flex;
    margin-left: calc(20px + 14.5%);
    margin-top: calc(-6vh - 24%);
    width: 4.9rem;
    justify-content: center;
    height: 4.5rem;
    background-color: white;
    border: 1px solid green;
    cursor: pointer;
}

.linea3 {
    opacity: .4;
    border-left: 2px solid #ced83f;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 28.1%);
    position: relative;
}

.cuadro3 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 26.7%);
    margin-top: calc(-6vh - 24%);
    background-color: white;
    width: 5rem;
    justify-content: center;
    height: 5rem;
    border: 1px solid #ced83f;
    cursor: pointer;
}

.linea4 {
    opacity: .4;
    border-left: 2px solid purple;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 45.5%);
    position: relative;
}

.cuadro4 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 43%);
    margin-top: calc(-6vh - 25%);
    background-color: white;
    width: 5rem;
    justify-content: center;
    height: 5.7rem;
    border: 1px groove rgb(146, 69, 146);
    cursor: pointer;
    z-index: 2;
}

.linea5_1 {
    opacity: .4;
    border-left: 2px solid rgb(63, 109, 71);;
    bottom: 10vh;
    height: 65vh;
    left: calc(50px + 41.2%);
    position: relative;
}
.cuadro5_1 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 36.9%);
    margin-top: calc(10vh + 15%);
    background-color: white;
    width: 5.4rem;
    justify-content: center;
    height: 5.3rem;
    border: 1px groove rgb(63, 109, 71);
    cursor: pointer;
}
.linea5_2 {
    opacity: .4;
    border-left: 2px solid #df5d5d;
    bottom: 10vh;
    height: 65vh;
    left: calc(50px + 43.5%);
    position: relative;
}
.cuadro5_2 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 44.2%);
    margin-top: calc(10vh + 15.9%);
    background-color: white;
    width: 5.5rem;
    justify-content: center;
    height: 5.5rem;
    border: 1px groove rgb(146, 69, 146);
    cursor: pointer;
}


.linea5 {
    opacity: .4;
    border-left: 2px solid #df5d5d;
    bottom: 24vh;
    height: 37vh;
    left: calc(50px + 49%);
    position: relative;
}

.cuadro5 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 47%);
    margin-top: calc(-2vh - 10%);
    width: 5rem;
    justify-content: center;
    height: 5.7rem;
    background-color: white;
    border: 1px solid #df5d5d;
    cursor: pointer;
}

.linea6 {
    opacity: .4;
    border-left: 2px solid darkgoldenrod;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 52.8%);
    position: relative;
}

.cuadro6 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 51%);
    margin-top: calc(-6vh - 24%);
    width: 5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid darkgoldenrod;
}

.linea7 {
    opacity: .4;
    border-left: 2px solid #5263af;
    bottom: 24vh;
    height: 37vh;
    left: calc(50px + 61.6%);
    position: relative;
}

.cuadro7 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 59.4%);
    margin-top: calc(-2vh - 10%);
    width: 5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid #5263af;
}

.linea8 {
    opacity: .4;
    border-left: 2px solid greenyellow;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 69.5%);
    position: relative;
}

.cuadro8 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 67%);
    margin-top: calc(-6vh - 24%);
    width: 5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid greenyellow;
}

.linea9 {
    opacity: .4;
    border-left: 2px solid blue;
    bottom: 24vh;
    height: 37vh;
    left: calc(50px + 73.5%);
    position: relative;
}

.cuadro9 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 71%);
    margin-top: calc(-2vh - 10%);
    width: 5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid blue;
}

.linea10 {
    opacity: .4;
    border-left: 2px solid #df5d5d;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 80%);
    position: relative;
}

.cuadro10 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 77.7%);
    margin-top: calc(-6vh - 24%);
    width: 5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid #df5d5d;
}

.linea11 {
    opacity: .4;
    border-left: 2px solid aquamarine;
    bottom: 36vh;
    height: 13vh;
    left: calc(50px + 86%);
    position: relative;
}

.cuadro11 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 84.5%);
    margin-top: calc(-6vh - 24%);
    width: 5rem;
    justify-content: center;
    height: 5.5rem;
    background-color: white;
    border: 1px solid aquamarine;
    z-index: 2;
}

.linea12 {
    opacity: .4;
    border-left: 2px solid violet;
    bottom: 24vh;
    height: 37vh;
    left: calc(50px + 87.7%);
    position: relative;
}

.cuadro12 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(20px + 85.4%);
    margin-top: calc(-2vh - 10%);
    width: 5rem;
    justify-content: center;
    height: 5rem;
    background-color: white;
    border: 1px solid violet;
}

/* .linea1:hover {
    opacity: 0;
}

.cuadro1:hover {
    opacity: 0;
}

.linea2:hover {
    opacity: 0;
}

.cuadro2:hover {
    opacity: 0;
}

.linea3:hover {
    opacity: 0;
}

.cuadro3:hover {
    opacity: 0;
}

.linea4:hover {
    opacity: 0;
}

.cuadro4:hover {
    opacity: 0;
}

.linea5:hover {
    opacity: 0;
}

.cuadro5:hover {
    opacity: 0;
}

.linea6:hover {
    opacity: 0;
}

.cuadro6:hover {
    opacity: 0;
}

.linea7:hover {
    opacity: 0;
}

/* .cuadro7:hover {
    opacity: 0;
} 

.linea8:hover {
    opacity: 0;
}

.cuadro8:hover {
    opacity: 0;
}

.linea9:hover {
    opacity: 0;
}

.cuadro9:hover {
    opacity: 0;
}

.linea10:hover {
    opacity: 0;
}

.cuadro10:hover {
    opacity: 0;
}

.linea11:hover {
    opacity: 0;
}

.cuadro11:hover {
    opacity: 0;
}

.linea12:hover {
    opacity: 0;
}

.cuadro12:hover {
    opacity: 0;
} */

.h1-c {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: .6rem;
    font-weight: 500;
}

.h2-c {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: .6rem;
    font-weight: 600;
    line-height: 25%;
}

.h3-c {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: .5rem;
    font-weight: 100;
    line-height: 25%;
}

.h3-c1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: .7rem;
    font-weight: 600;
    line-height: 25%;
}
.h3-c-1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 30%;
}

.h3-c-2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 900;
    line-height: 30%;
}

.str {
    font-size: 10px;
    font-weight: 900;
}

.divHigcharts{
    background:white;
    width:93vw !important;
}

.highcharts-container {
    background-color: transparent !important;
    width: 95vw !important;

}

.grafica-top text:nth-child(18),.grafica-top text:nth-child(22), .grafica-dowm text:nth-child(18), .grafica-dowm text:nth-child(14) {
    fill: red !important;
}