@import url("../../assets/styles/fonts.css");
.contentG{
    height: auto;
    width: 98vw;
    display: block;
}
.contentG h1, .contentG h3{
    font-family:var(--font-principal) !important ;
    
}
.graphs {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.div-graph-button{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.cus {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*1); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cus2 {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cu {
    /* position: absolute;
    top: calc((100%/4)*2.7);
    left: calc((100%/4)*.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cu2 {
    /* position: absolute;
    top: calc((100%/4)*2.7);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cu-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cu2-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cus-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*1); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cus2-e {
    /* position: absolute;
    top: calc((100%/4)*3);
    left: calc((100%/4)*2.5); */
    /* Alinea a la izquierda */
    padding: 1px 1px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.cus:hover,
.cus2:hover,
.cus-e:hover,
.cus2-e:hover,
.cu:hover,
.cu2:hover,
.cu-e:hover,
.cu2-e:hover {
    background-color: #762f0b;
}

.chartContainer {

    margin-top: 100vh;
  }
.graphs-2 {
    margin-top: calc((100vh/10)*1);
    margin-bottom: calc((100vh/10)*1);
    width: 80vw;
    display: flex;
    margin-left: calc((100vw/8)*0);
    align-items: center;
    height: auto;
}
.svg.highcharts-root{
    width: 80%;
    height: 800px;
}

.linea1G2 {
    opacity: .5;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*0.5));
    position: relative;
    z-index: 6;

}

.cuadro1G2 {
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*.4));
    margin-top: -120px;
    z-index: 10;
    width: 80px;
    height: 100px;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
    cursor: pointer;
}

.linea2G2 {
    opacity: .5;
    border-left: 1px solid green;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*1.64));
    position: relative;
    z-index: 6;
}

.cuadro2G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*1.7));
    margin-top: 0px;
    z-index: 10;
    width: 90px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid green;
}

.linea3G2 {
    opacity: .5;
    border-left: 1px solid #ced83f;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*2.18));
    position: relative;
    z-index: 6;
}

.cuadro3G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*2.5));
    margin-top: -230px;
    z-index: 10;
    width: 90px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid #ced83f;
}

.linea4G2 {
    opacity: .5;
    border-left: 1px solid purple;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*2.83));
    position: relative;
    z-index: 6;
}

.cuadro4G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*3.3));
    margin-top: -150px;
    z-index: 10;
    width: 90px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid purple;
}

.linea5G2 {
    opacity: .4;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*3.8));
    position: relative;
    z-index: 6;
}

.cuadro5G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*4.5));
    margin-top: 10px;
    z-index: 10;
    width: 70px;
    height: 120px;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
}

.linea6G2 {
    opacity: .4;
    border-left: 1px solid darkgoldenrod;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*3.98));
    position: relative;
    z-index: 6;
}

.cuadro6G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*4.6));
    margin-top: -200px;
    z-index: 10;
    width: 130px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid darkgoldenrod;
}

.linea7G2 {
    opacity: .4;
    border-left: 1px solid #5263af;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*4.17));
    position: relative;
    z-index: 6;
}

.cuadro7G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*5.05));
    margin-top: 260px;
    z-index: 10;
    width: 70px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid #5263af;
}

.linea8G2 {
    opacity: .4;
    border-left: 1px solid greenyellow;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*4.66));
    position: relative;
    z-index: 6;
}

.cuadro8G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*5.6));
    margin-top: 40px;
    z-index: 10;
    width: 70px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid greenyellow;
}

.linea9G2 {
    opacity: .4;
    border-left: 1px solid blue;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*5.15));
    position: relative;
    z-index: 6;
}

.cuadro9G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*6.25));
    margin-top: 220px;
    z-index: 10;
    width: 70px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid blue;
}

.linea10G2 {
    opacity: .4;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*5.26));
    position: relative;
    z-index: 6;
}

.cuadro10G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*6.35));
    margin-top: -50px;
    z-index: 10;
    width: 80px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
}

.linea11G2 {
    opacity: .4;
    border-left: 1px solid aquamarine;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*5.68));
    position: relative;
    z-index: 6;
}

.cuadro11G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*6.95));
    margin-top: 140px;
    z-index: 10;
    width: 70px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid aquamarine;
}

.linea12G2 {
    opacity: .4;
    border-left: 1px solid violet;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*6.1));
    position: relative;
    z-index: 6;
}

.cuadro12G2 {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*7.5));
    margin-top: -160px;
    z-index: 10;
    width: 70px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid violet;
}

hr {
    position: absolute;
    display: flex;
    z-index: 6;
    height: 2px;
    background-color: black;
    width: calc(((100vw/8)*5.4));
    margin-left: calc((100vw/8)*.6);
    margin-bottom: calc((100vh/10)*6.5);;
}

.m1G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*1);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m2G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*1.7);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m3G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*2.25);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m4G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*3);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m5G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*3.55);
    transform: rotate(270deg);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m6G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*3.68);
    transform: rotate(270deg);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m7G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*4);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m8G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*4.45);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m9G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*4.75);
    transform: rotate(270deg);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m10G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*5.03);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m11G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*5.4);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 50px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.m12G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*5.75);
    margin-bottom: calc((100vh/10)*6.3);
    z-index: 10;
    width: 40px;
    height: 10px;
    background-color: white;
    justify-content: center;
    border: 1px solid transparent;
}

.circulo1G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*1.03);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo2G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*1.73);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo3G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*2.27);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo4G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*3.04);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo5G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*3.57);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo6G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*3.75);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo7G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*4.04);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo8G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*4.48);
    margin-bottom: calc((100vh/10)*5.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo9G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*4.8);
    margin-bottom: calc((100vh/10)*5.3);
    z-index: 10;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo10G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*5.07);
    margin-bottom: calc((100vh/10)*2.5);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo11G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*5.45);
    margin-bottom: calc((100vh/10)*3.7);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}

.circulo12G2 {
    position: absolute;
    display: flex;
    margin-left: calc((100vw/8)*5.75);
    margin-bottom: calc((100vh/10)*4.3);
    z-index: 10;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    background-color: rgb(226, 225, 225);
    justify-content: center;
    border: 1px solid rgb(226, 225, 225);
}


.linea1 {
    opacity: .5;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/8)*0.6));
    position: relative;
    z-index: 6;
}

.cuadro1 {
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*.4));
    margin-top: -440px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
    cursor: pointer;
}

.linea2 {
    opacity: .4;
    border-left: 1px solid green;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*1.7));
    position: relative;
    z-index: 5;
}

.cuadro2 {
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*1.4));
    margin-top: -250px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid green;
    cursor: pointer;
}

.linea3 {
    opacity: .4;
    border-left: 1px solid #ced83f;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*2.8));
    position: relative;
    z-index: 5;
}

.cuadro3 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*2.3));
    margin-top: -480px;
    z-index: 5;
    width: 150px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid #ced83f;
    cursor: pointer;
}

.linea4 {
    opacity: .4;
    border-left: 1px solid purple;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*4.2));
    position: relative;
    z-index: 5;
}

.cuadro4 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*3.3));
    margin-top: -300px;
    z-index: 10;
    width: 170px;
    height: 100px;
    background-color: white;
    justify-content: center;
    border: 1px groove rgb(146, 69, 146);
    cursor: pointer;
}

.linea5 {
    opacity: .4;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*4.5));
    position: relative;
    z-index: 6;
}

.cuadro5 {
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*4));
    margin-top: -515px;
    z-index: 10;
    width: 180px;
    height: 85px;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
    cursor: pointer;
}

.linea6 {
    opacity: .4;
    border-left: 1px solid darkgoldenrod;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*4.8));
    position: relative;
    z-index: 6;
}

.cuadro6 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*4.6));
    margin-top: -140px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid darkgoldenrod;
}

.linea7 {
    opacity: .4;
    border-left: 1px solid #5263af;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*5.6));
    position: relative;
    z-index: 6;
}

.cuadro7 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*5.3));
    margin-top: -340px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid #5263af;
}

.linea8 {
    opacity: .4;
    border-left: 1px solid greenyellow;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*6.3));
    position: relative;
    z-index: 6;
}

.cuadro8 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*6));
    margin-top: -150px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid greenyellow;
}

.linea9 {
    opacity: .4;
    border-left: 1px solid blue;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*6.6));
    position: relative;
    z-index: 6;
}

.cuadro9 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*6.3));
    margin-top: -440px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid blue;
}

.linea10 {
    opacity: .4;
    border-left: 1px solid #df5d5d;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*7.2));
    position: relative;
    z-index: 6;
}

.cuadro10 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*6.9));
    margin-top: 40px;
    z-index: 10;
    width: 110px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid #df5d5d;
}

.linea11 {
    opacity: .4;
    border-left: 1px solid aquamarine;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*7.65));
    position: relative;
    z-index: 6;
}

.cuadro11 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*7.2));
    margin-top: -230px;
    z-index: 10;
    width: 140px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid aquamarine;
}

.linea12 {
    opacity: .4;
    border-left: 1px solid violet;
    bottom: calc((100vh/10)*.3);;
    height: calc((100vh/10)*6.5);
    left: calc(((100vw/10)*7.8));
    position: relative;
    z-index: 6;
}

.cuadro12 {
    cursor: pointer;
    opacity: 1;
    position: absolute;
    display: flex;
    margin-left: calc(((100vw/10)*7.35));
    margin-top: -500px;
    z-index: 10;
    width: 120px;
    height: 90px;
    background-color: white;
    justify-content: center;
    border: 1px solid violet;
}

/* .linea1:hover {
    opacity: 0;
}

.cuadro1:hover {
    opacity: 0;
}

.linea2:hover {
    opacity: 0;
}

.cuadro2:hover {
    opacity: 0;
}

.linea3:hover {
    opacity: 0;
}

.cuadro3:hover {
    opacity: 0;
}

.linea4:hover {
    opacity: 0;
}

.cuadro4:hover {
    opacity: 0;
}

.linea5:hover {
    opacity: 0;
}

.cuadro5:hover {
    opacity: 0;
}

.linea6:hover {
    opacity: 0;
}

.cuadro6:hover {
    opacity: 0;
}

.linea7:hover {
    opacity: 0;
}

/* .cuadro7:hover {
    opacity: 0;
} 

.linea8:hover {
    opacity: 0;
}

.cuadro8:hover {
    opacity: 0;
}

.linea9:hover {
    opacity: 0;
}

.cuadro9:hover {
    opacity: 0;
}

.linea10:hover {
    opacity: 0;
}

.cuadro10:hover {
    opacity: 0;
}

.linea11:hover {
    opacity: 0;
}

.cuadro11:hover {
    opacity: 0;
}

.linea12:hover {
    opacity: 0;
}

.cuadro12:hover {
    opacity: 0;
} */

.h1-c {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;

}

.h2-c {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 20%;
}

.h3-c {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 100;
    line-height: 25%;
}

.h3-c-1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 30%;
}

.h3-c-2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 900;
    line-height: 30%;
}

.str {
    font-size: 10px;
    font-weight: 900;
}

.highcharts-container {
    background-color: white;
    width: 90vw !important;
}

.grafica-top text:nth-child(18),.grafica-top text:nth-child(22), .grafica-dowm text:nth-child(18), .grafica-dowm text:nth-child(14) {
    fill: red !important;
}