.popup-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente para oscurecer el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Coloca el pop-up por encima de todo */
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.arrow-button {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  z-index: 100;
  
}

.popup-content {
  z-index: 999;
  background: white;
  width: 85vw;
  height: 80vh;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 85vw;
  /* Ajusta el ancho máximo del pop-up según sea necesario */
  max-height: 80vh;
  /* Ajusta la altura máxima del pop-up según sea necesario */
  overflow: auto;
  /* Agrega desplazamiento si el contenido es demasiado grande */
}

.popup-content img {
  max-width: 100%;
  /* Ajusta el ancho máximo de la imagen para que se ajuste al contenedor */
  height: 95%;
  width: 90%;
  /* Asegura que la altura se ajuste automáticamente al ancho */
  display: block;
  /* Evita el espacio adicional debajo de la imagen */
  margin: 0 auto;
  /* Centra horizontalmente la imagen en su contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Agrega una sombra a la imagen (opcional) */
  border-radius: 5px;
  /* Agrega esquinas redondeadas a la imagen (opcional) */
  z-index: 999;
}

.popup-content2 {
  z-index: 999;
  background: white;
  width: 65vw;
  height: 70vh;
  padding: 3rem;
  border-radius: 5px;
  position: relative;
  max-width: 80vw;
  /* Ajusta el ancho máximo del pop-up según sea necesario */
  max-height: 80vh;
  /* Ajusta la altura máxima del pop-up según sea necesario */
  overflow: auto;
}

.popup-content2 img {
  max-width: 90%;
  /* Ajusta el ancho máximo de la imagen para que se ajuste al contenedor */
  height: 80%;
  width: 100%;
  /* Asegura que la altura se ajuste automáticamente al ancho */
  display: block;
  /* Evita el espacio adicional debajo de la imagen */
  margin: 0 auto;
  /* Centra horizontalmente la imagen en su contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Agrega una sombra a la imagen (opcional) */
  border-radius: 5px;
  /* Agrega esquinas redondeadas a la imagen (opcional) */
  z-index: 999;
  object-fit: contain;
}

.close-button {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-button:before {
  content: "×";
  /* Agrega el símbolo "x" como contenido */
  font-size: 24px;
  /* Tamaño del símbolo "x" */
  color: #fff;
  /* Color del símbolo "x" */
  text-align: center;
  padding: 5px 12px;
  line-height: 50px;
  /* Alinea verticalmente el símbolo "x" en el círculo */
  border-radius: 50%;
  /* Crea un círculo alrededor del botón */
  background-color: #333;
  /* Color de fondo del círculo */
  transition: background-color 0.3s ease-in-out;
  /* Transición de color de fondo */
}

.close-button:hover:before {
  background-color: #ff0000;
  /* Cambia el color de fondo en el hover */
}

.custom-button {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  /* Alinea a la izquierda */
  padding: 5px 10px;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #762f0b;
}

.popup-content3 {
  z-index: 999;
  background: white;
  width: 40vw;
  height: 35vh;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 80vw;
  /* Ajusta el ancho máximo del pop-up según sea necesario */
  max-height: 80vh;
  /* Ajusta la altura máxima del pop-up según sea necesario */
  overflow: auto;
  /* Agrega desplazamiento si el contenido es demasiado grande */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

@media screen and (max-width: 768px) {
  .popup-content3, .popup-content2, .popup-content {
    width: 90vw ;
    height: 75vh;
    margin-top: 15vh;
  }
}

/** ESTILOS PARA POPUP INFORMACIÓN*/
.popup-info-container {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px; /* Aumentar el padding para hacer el contenedor más grande */
  border-radius: 5px; /* Aumentar el radio de borde para hacerlo más redondeado */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Aumentar el tamaño de la sombra */
}

.close-button-info {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-button-info:before {
  content: "×";
  font-size: 18px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .popup-info-container {
    width: 80%;
  }
}

/** ESTILOS PARA POPUP DIFERENCIAS*/
.popup-diff-container {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 48.4%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9); 
  padding: 40px; 
  border-radius: 10px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.circulo {
  background: white;
  border-radius: 100%;
  width: 6rem; 
  height: 6rem;
  background-color: rgb(226, 225, 225);
  border: 1px solid rgb(226, 225, 225);
  display: flex; 
  flex-direction: column; /* Cambiar a column para alinear verticalmente */
  justify-content: center; 
  align-items: center; 
}

@media screen and (max-width: 768px) {
  .popup-diff-container {
    width: 80%;
  }
}