/* @import url('../assets/styles/colors.css');
@import url('../assets/styles/font.css'); */

.cards {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    width: 100vw;
  }

.card {
    width: 25vw;
    height: 75vh;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;
    z-index: 2;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    width: 25vw;
    height: calc(40vh/4);
    display: flex;
}

.card-title {
    color: var(--clr-white);
    font-size: var(--font-h3);
    font-family: var(--font-principal);
    position: absolute;
    left: 10%;
    top: 38vh;
    transform: translate(-4%, -50%);
    z-index: 99999 !important;
}


.image-card {
    width: 25vw;
    height: 75vh;
    object-fit: cover;

}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(-180deg);
        opacity: 70%;
}

.card:hover .front {
    transform: rotateY(-10deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.btn-cards{
    color: var(--clr-white);
    font-size: var(--font-body);
    padding: 3px;
    background-color: transparent;
    border: 1px solid var(--clr-white);
    width: auto;
    height:35px ;
}


  



  @media screen and (max-width: 599px) { 

    .cards {
        width: 98vw;
        display: grid;
        grid-template-columns: 49vw 49vw;
        grid-template-rows: 45vh 45vh;
        grid-gap: 0px;
        background-repeat: repeat-y;
        background-size: cover;   
    }  

    .card {
        max-width: 100%;
        flex-basis: 50%;
    } 

    .face {
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.5s;
        width: 98vw;
        height: 45vh;
        display: flex;
    }

    .card-title {
        color: var(--clr-white);
            font-size: 5vw !important;
        font-family: var(--font-principal);
        position: absolute;
        left: 20% !important;
        top: 50% !important;
        transform: translate(-4%, -50%);
        z-index: 99999 !important;
        width: 40vw;
    }

    .image-card {
        width: 98vw;
        height: 45vh;
        object-fit: cover;
    }
    
    .front {
        transform: rotateY(0deg);
    }
    
    .back {
        transform: rotateY(-180deg);
            opacity: 10%;
    }
    
    .card:hover .front {
        transform: rotateY(-10deg);
    }
    
    .card:hover .back {
        transform: rotateY(0deg);
    }
    
    .btn-cards{
        color: var(--clr-white);
        font-size: var(--font-body);
        padding: 3px;
        background-color: transparent;
        border: 1px solid var(--clr-white);
        width: auto;
        height:35px ;
    }
    
    /* .card-tittle{
        z-index: 10;
    } */

  }

  @media screen and (max-width: 425px){
    .cards{
        margin-top: 3vh;
    }

  }

  @media screen and (max-width: 375px){
    .cards{
        margin-top: 10vh;
    }

  }

  @media screen and (max-width: 330px){
    .cards{
        margin-top: 25vh;
    }

  }

  #card1-frontal{
    background-image: url("https://geoapps.esri.co/recursos/smob/Diseño-paneles-inicio-afd43625.png");
    background-size: cover;
  }
  
  #card2-frontal{
    background-image: url("https://geoapps.esri.co/recursos/smob/Diseño-paneles-inicio-02-fbc9cd7e.png");
    background-size: cover;
  }
  
  #card3-frontal{
    background-image: url("https://geoapps.esri.co/recursos/smob/Diseño-paneles-inicio-03-1d368d21.png");
    background-size: cover;
  }
  
  #card4-frontal{
    background-image: url("https://geoapps.esri.co/recursos/smob/Diseño-paneles-inicio-05-7dd42aaf.png");
    background-size: cover;
  }
  @media only screen and (max-width: 1024px) {

    .cards {
        width: 98vw;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vh 50vh;
        grid-gap: 0px;
        background-repeat: repeat-y;
        background-size: cover;  
        overflow-y: hidden; 
    }  

    
  

    .card {
        max-width: 100%;
        flex-basis: 50%;
        width: 100%;
        height: 75vh !important;
    } 

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.5s;
        width: 50vw;
        height: 50vh;
        display: flex;
    }

    .card-title {
        color: var(--clr-white);
        font-size: var(--font-h3);
        font-family: var(--font-principal);
        position: absolute;
        left: 10%;
        top: 38vh;
        transform: translate(-4%, -50%);
        z-index: 99999 !important;
    }

    .image-card {
        width: 50vw;
        height: 50vh;
        object-fit: cover;
    
    }
    
    .front {
        transform: rotateY(0deg);
    }
    
    .back {
        transform: rotateY(-180deg);
            opacity: 70%;
    }
    
    .card:hover .front {
        transform: rotateY(-10deg);
    }
    
    .card:hover .back {
        transform: rotateY(0deg);
    }
    
    .btn-cards{
        color: var(--clr-white);
        font-size: var(--font-body);
        padding: 3px;
        background-color: transparent;
        border: 1px solid var(--clr-white);
        width: auto;
        height:35px ;
    }
    
    .card-tittle{
        /* z-index: 10; */
    }
    #card1-frontal{
        background-image: url("https://geoapps.esri.co/recursos/smob/Diseño paneles de incio versión mobile_Mesa de trabajo 1.png");
        background-size: cover;
      }
      
      #card2-frontal{
        background-image: url("https://geoapps.esri.co/recursos/smob/Diseño paneles de incio versión mobile-02.png");
        background-size: cover;
      }
      
      #card3-frontal{
        background-image: url("https://geoapps.esri.co/recursos/smob/Diseño paneles de incio versión mobile-03.png");
        background-size: cover;
      }
      
      #card4-frontal{
        background-image: url("https://geoapps.esri.co/recursos/smob/Diseño paneles de incio versión mobile-05.png");
        background-size: cover;
      }


  }