.modelos-div {
    height: 80vh;
    padding: 10rem;
    position: relative;
}

.button-container {
    position: absolute;
    top: 10%;
    right: 10%;
    margin: 10px; /* Ajusta el margen según sea necesario */
    display: flex;
    justify-content: center;
  }
  
.button-container button {
    font-size: 2.4em; /* Tamaño del texto */
    font-weight: 600;
    padding-left: 15px;
     padding-right: 10px;
     padding-bottom: 5px;
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: transform 0.2s ease;
    background-color: transparent;
    color: #762f0b;;
  }
  
  .button-container button:hover {
    transform: scale(1.05);
  }

.title_modelos {
    color: #762f0b;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center
}

.modelos_text {
    color: #762f0b;
    padding: 0 10vw;
    font-size: 1vw
}

@media only screen and (max-width: 768px) {
    .modelos-div{
        padding: 10rem 2rem
    } 
    .title_modelos {
        font-size: 2.5vw;
    }

    .modelos_text {
        padding: 0;
        font-size: 2vw
    }

    .button-container {
        position: absolute;
        top: 15%;
        right: 5%;

      }
    
}