@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Lora&display=swap');

.demografia{
  width: 98%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.demografia-title{
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}
.demografia-title h1{
  color:var(--clr-primary);
  font-family: var(--font-headers);
  font-size: var(--font-h3) !important;
}

.demografia-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-principal);
  font-size: var(--font-body) ;
  line-height: 1.5;
  margin-bottom: 4px;
}

.demografia-text p{
  width: 80%;
  text-align: justify;
}

