@import url('../../../../assets/styles/colors.css');
@import url('../../../../assets/styles/font.css');

.body_scroll{
  overflow-x: hidden;
}

.crecimiento {
  width: 98%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crecimiento-title {
  display: flex;
  justify-content: center;
}

.crecimiento-title h1 {
  color: var(--clr-primary);
  font-family: var(--font-headers);
  font-size: var(--font-h3) !important;
}

.crecimiento-subtitle {
  margin-top: 2vh;
  margin-left: 10vw;
}

.crecimiento-subtitle h2 {
  margin: 0;
  color: var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-h4) !important;
}

.crecimiento-content {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.crecimiento-content .dashboards {
  height: 100%;
  width: 100%;
}

.crecimiento-content iframe {
  width: 98vh;
  min-height: 70vh;
}

.crecimiento-content2 {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crecimiento-content2 .dashboards {
  height: 100%;
  width: 100%;
}

.crecimiento-content2 iframe {
  width: 98vw;
  min-height: 70vh;
}

.crecimiento-text {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding:0 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  color: var(--clr-black);
  font-family: var(--font-principal);
  font-size: var(--font-body) !important;
  text-align: justify;
}