@import url('../../../../assets/styles/colors.css');
@import url('../../../../assets/styles/font.css');

center button {
  font-size: var(--font-body);
  width: 7vw;
  height: 40px;
  margin: 1vh 1vw;
}

text {
  font-size: 12px !important;
}

.piramides {
  width: 98%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.piramides-title {
  display: flex;
  justify-content: center;
}

.piramides-title h1 {
  color: var(--clr-primary);
  font-family: var(--font-headers);
  font-size: var(--font-h3) !important;
}

.piramides-subtitle {
  margin-top: 2vh;
  margin-left: 10vw;
}

.piramides-subtitle h2 {
  margin: 0;
  color: var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-h4) !important;
}

.piramides-content {
  width: 100%;
  min-height: 40vh;
}

.piramides-content iframe {
  width: 98vw;
  min-height: 70vh;
}

.piramides-text {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vh;
  color: var(--clr-black);
  font-family: var(--font-principal);
  font-size: var(--font-body) !important;
  text-align: justify;
}

.formula {
  align-self: center;
  color: var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-body) !important;
  font-weight: 500;
}

.piramides-text-title {
  color: var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-body) !important;
  font-weight: 700;
}

.piramides-text-content {
  color: var(--clr-black);
  font-family: var(--font-headers);
  font-size: var(--font-body) !important;
  text-align: justify;
}


.select-container {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: var(--clr-primary);
  height: 80px;
  border: 1px solid rgb(107, 195, 255);
  width: 99.5;
}

.select-container .label-type {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.select-container .container-select-type {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.select-type {
  width: 300px;
  height: 40px;
  font-size: 22px;
}

.container-censo,
.container-comunidad {
  margin-top: 1vh;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-gray);
  width: 99.5;
}


.container-censo_main {
  width: 100%;
  grid-column: 2/5;
  grid-row: 2;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 100px;
}

.censo {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.censo label {
  font-size: 20px;
}

.censo select {
  width: 10vw;
  height: 40px;
  font-size: 19px;
}

.censo_boton button {
  width: 9vw;
  height: 40px;
  font-size: 19px;
  background-color: var(--clr-primary);
  color: white;
}

.comunidad_main {
  width: 100%;
  grid-column: 2/5;
  grid-row: 2;
  background-color: rgb(076, 092, 121);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.row {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: baseline;
  align-items: baseline;
  gap: 10px;
}

.row select,
.row button {
  width: 9vw;
  height: 40px;
  font-size: 19px;
}


.graficas-censo div,
.graficas-comparacion div {
  width: 80%;
  height: 70vh;
}

.graficas {
  display: flex;
  flex-wrap: wrap;
}

.graficas div {
  height: 600px;
  width: 50%;
}



.button-piramides {
  width: 7vw;
  height: 5vh;
  border: none;

}

.button-active {
  background-color: #9D5929;
  color: #FDFDFD;
}

.button-inactive {
  background-color: #CBC5C0;
  color: #393939;
}

.button-piramides-footer {
  width: 7vw;
  height: 5vh;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}