@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/font.css');

.navbar {
    position: sticky;
    top: 0;
    height: calc((100vh/8)*.5);
    display: flex;
    list-style: none;
    background-color: var(--clr-primary);
    opacity: .9;
    color: #fff;
    padding: 10px 0; /* Eliminamos el padding horizontal y dejamos solo el vertical */
    width: 100%; /* Ocupa el 100% de ancho */
    z-index: 999;
    
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    
  }
  
  .nav-item {
    font-size:var(--font-little);
    width: calc((100vw/8)*.98);
    height: calc((100vh/8)*.3);
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    display: inline-block; /* Alinea los elementos del ítem en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    border-right: #fff 1px solid;
  }
  
  .nav-item:last-child {
    margin-right: 0; /* Quita el margen derecho al último elemento */
  }
  
  .nav-item a {
    width: 100%;
    font-size:var(--font-little);
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: var(--font-principal);
    text-decoration: none;
    color: var(--clr-white);
  }
  
  /* Estilos para los menús desplegables */
  .dropdown {
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: none;
    left: -20px;
    top: -5px;
  }
  .unir{
    display: flex;
    font-size:var(--font-little);
  }
  
  .dropdown-toggle {
    list-style: none;
    height: calc((100vh/8)*.4);
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    left: calc((100vw/8)*1);
    padding: 0;
    margin: 0;
    display: block;
	margin-top: calc(10px + 2vw);
    width: calc((100vw/8)*1);
  }
  .dropdown-menu ul{
    list-style: none;
    width: 100%;
  }
  
  .dropdown.active .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
 /* Estilos para el botón de alternancia */
.submenu-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: var(--font-little);
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative; /* Agregamos posición relativa para alinear el submenú */
}

/* Estilos para el icono de alternancia (triángulo) */
.submenu-button .submenu-icon {
  margin-left: 10px; /* Espacio entre el texto y la flecha */
  transform: rotate(0deg); /* Inicialmente, la flecha está hacia la derecha */
  transition: transform 0.3s ease;
  position: absolute;
  right: 10px; /* Alinea el triángulo a la derecha */
  top: 50%; /* Alinea verticalmente el triángulo */
  transform: translateY(-50%);
}

/* Estilos para el submenú desplegable */
.submenu {
  position: absolute;
  top: 2.2rem; 
  left: 100%; /* Coloca el submenú a la derecha del botón de alternancia */
  cursor: pointer;
  width: 100%; /* Ajusta el ancho según el contenido */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  z-index: 10; /* Asegura que el submenú esté por encima de otros elementos */
  border-radius: 5px;
}


/* Estilos para la lista dentro del submenú */
.submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la lista del submenú */
.submenu li {
  padding: 10px;
}

/* Estilos para mostrar el submenú cuando el botón de alternancia está activo */
.submenu.active {
  display: block;
}

/* Estilos para el botón de alternancia cuando el submenú está activo */
.submenu.active .submenu-icon {
  transform: rotate(90deg); /* Cambia la flecha para indicar que el submenú está abierto */
}

/* Estilos para resaltar el botón de alternancia al pasar el cursor sobre él */
.submenu-button:hover {
  background-color: #f0f0f0;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Añade esta línea para que los elementos se distribuyan de manera uniforme */
 }
 
 .navbar li {
  display: inline-block;
  flex: 1; /* Añade esta línea para que cada elemento ocupe el mismo espacio */
  position: fixed;
 }
 
 .navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
 
 .navbar a:hover {
  background-color: #ddd;
  color: black;
 }
 
 .navbar ul ul {
  display: none;
 }
 
 .navbar ul li:hover > ul {
  display: block;
 }
 
 .navbar li:nth-child(1) {
  left: 0;
 }
 
 .navbar li:nth-child(2) {
  left: 50%;
 }
 
 .navbar li:nth-child(3) {
  right: 0;
 }
 