@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/fonts.css');

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  gap: 1rem;
  font-family: var(--font-headers);
}

.header-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header-title H1{
  margin: 0;
  font-size: 3.2rem;
}

.logo{
  width: 3.5rem;
}

.nv {
  font-size: calc(.1px + .95vw);
  position: sticky;
  top: 0;
  height: calc((100vh/8)*.5);
  display: flex;
  list-style: none;
  background-color: var(--clr-primary);
  opacity: 1;
  color: #fff;
  padding: 10px 0;
  /* Eliminamos el padding horizontal y dejamos solo el vertical */
  width: 100%;
  /* Ocupa el 100% de ancho */
  z-index: 999;
  justify-content: center;
  /* align-items: center; */
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  text-decoration: none;
  font-size: calc(.1px + 1vw);
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  list-style: none;
}

.menu-items {
  position: relative;
  margin: 0;
  margin-top: 0px;
  top: -13px;
}

.menu-items a {
  display: block;
  color: black;
  text-decoration: none;
}

.menu-items button {
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.colorTam {
  font-size: calc(.1px + 1vw);
  color: white;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.8rem .7rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
  height: auto;
  color: black;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: calc(0.1px + 1vw);
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
  top: auto;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
  width: 14vw;
}

#a a{
  color: #000;
  text-decoration: none;
}