@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/font.css');
body{
  overflow-x: hidden;
}
#top{
  background-color: var(--clr-white);
  z-index: 900;
  height: calc((100vh/8)*2);
  gap:0;  
}
#header {
  display: flex;
  padding: 10px 10px;
  gap: 30px;
  width: 100%;
  height: calc((100vh/8)*1.5);
  justify-content: center;
  align-items: center;

}

.header-img{
  display: flex;
}

.header-title {
  display: flex;
  
}

.header-title h1 {
  font-size: var(--font-especial-title);
  font-family: var(--font-headers);
  color: var(--clr-black);
  margin-left: -15%;
}

.remove{
  position: sticky;
}

.pegar{
  z-index: 1000;
  top: 0;
  height: calc((100vh/8)*0.5);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items:center;
  background-color: var(--clr-primary);
  opacity: .9;
  position: fixed;
}
.smc{
  position: fixed;
  display: flex;
  width: 60%;
  height: auto;
  top:calc((100vh/8)*0.5);
  margin-left: calc((100vw/8)*0.95);
   background-color: var(--clr-lightgray);
}
.smg{
  position: fixed;
   background-color: var(--clr-lightgray);
   display: flex;
  width: 60%;
  height: auto;
  top:calc((100vh/8)*0.5);
  margin-left: calc((100vw/8)*1.95);
}
.smp{
  position: fixed;
  display: flex;
  width: 65%;
  height: auto;
  margin-top: 0;
  margin-left: calc(((100vw/8)*2.95));
  top:calc((100vh/8)*0.5);
   background-color: var(--clr-lightgray);
}
.smt{
  position: fixed;
  top:calc((100vh/8)*0.5);
  display: flex;
  width: 80%;
  height: auto;
  margin-left: calc((100vw/8)*2.96);
   background-color: var(--clr-lightgray);
}
.smo{
position: fixed;
top:calc((100vh/8)*0.5);
display: flex;
width: 80%;
height: auto;
background-color: var(--clr-lightgray);
margin-left: calc((100vw/8)*1.96);
}
.smn{
position: fixed;
top:calc((100vh/8)*0.5);
display: flex;
width: 15%;
height: auto;
background-color: var(--clr-lightgray);
margin-left: calc((100vw/8)*5.96);
}
.smr{
position: fixed;
top:calc((100vh/8)*0.5);
display: flex;
width: 15%;
height: auto;
background-color: var(--clr-lightgray);
margin-left: calc((100vw/8)*6.96);
}

/*#navbar-principal {
  top: 0;
  position: sticky;
  height: calc((100vh/8)*0.5);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items:center;
  background-color: var(--clr-primary);
  opacity: .8;
}*/
.navbar-principal {
  top: calc((100vh/8)*1.5);;
  transition:  all 0.1s ease-out;
  position: sticky;
  height: calc((100vh/8)*0.5);
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items:center;
  background-color: var(--clr-primary);
  opacity: .8;

}

.navbar-item {
  font-size:var(--font-little);
  width: calc(100vw/8);
  height: calc((100vh/8)*0.5);
  display: flex;
  align-items:center;
  cursor: pointer;
  z-index: 10;
}

.navbar-item a {
  font-family: var(--font-principal);
  text-decoration: none;
  color: var(--clr-white);
}

.letra{
  font-size: var(--font-especial);
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  width: calc((100vw/9)*1);
}
.ic{
  cursor: pointer;
  text-align: right;
  display: flex;
  color: white;
  margin-left: calc(-30px);
  font-size: var(--font-especial);
}
.letra-sub{
  font-size: var(--font-especial);
}

.linea{
  padding: auto;
  height: 50%;
  border-right: 1px solid white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.linea1{
  padding: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.visible{
  visibility: visible;
}

.dowmLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  width: 100%;
  height: calc((100vh/8)*.5);
}

.submenu {
  display: flex;
}

#top a{
  text-decoration: none;
}

.submenu-poblacional{
  position: relative;
  display: flex;
  width: 65%;
  height: auto;
  margin-top: 0;
  margin-left: calc(((100vw/8)*1.95));
  background-color: var(--clr-lightgray);
}

.submenu-general{
  display: flex;
  width: 60%;
  height: auto;
  margin-left: calc((100vw/8)*1.95);
   background-color: var(--clr-lightgray);
}
.submenu-civilidad{
  display: flex;
  /* width: 30%; */
  height: auto;
  top:calc((100vh/8)*0.5);
  margin-left: calc((100vw/8)*0.95);
   background-color: var(--clr-lightgray);
}

.submenu-territorial{
  display: flex;
  width: 28%;
  height: auto;
  margin-left: calc((100vw/8)*3.96);
   background-color: var(--clr-lightgray);
}

.submenu-ordenamiento {
  display: flex;
  width: 70%;
  height: auto;
   background-color: var(--clr-lightgray);
   margin-left: calc((100vw/8)*1.56);
}

.submenu-noticias {
  display: flex;
  width: 15%;
  height: auto;
   background-color: var(--clr-lightgray);
   margin-left: calc((100vw/8)*5.96);
}

.submenu-repositorio {
  display: flex;
  width: 15%;
  height: auto;
   background-color: var(--clr-lightgray);
   margin-left: calc((100vw/8)*6.96);
}

.option {
  width: 400px;
  height: 90px;
  padding: 20px 10px;
  font-family: var(--font-principal);
  font-size: var(--font-body);
  color: var(--clr-black);
  display: flex;
  align-items: center;
  overflow-y: hidden;
  cursor: pointer;
  text-decoration: none;
}

.option a{
  color: var(--clr-black);
}

.option:hover {
  background-color: var(--clr-white);
}

.invisible{
  display: none !important;
}
.selected-menu{
  background-color: var(--clr-white);
}
.selected-menu::after{
  content: url("../../assets/icons/material-symbols_arrow-right-alt.svg");
}

#a a{
  font-size: 20px ;
  color: var(--clr-black);
  list-style: none;
  text-decoration: none;
  font-family: var(--font-body);
}
