@import url('../../assets/styles/colors.css');
@import url('../../assets/styles/font.css');

.footer {
  min-height: 260px;
}


.social-media {
  height: 25px;
  width: 25px;
}

.footer-links p {
  text-align: center;
  text-decoration: none;
}


@media only screen and (max-width: 960px) {
  .footer {
    height: auto !important;
  }

  .footer,
  .footer-p,
  #footer-links {
    font-size: 14px !important;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
    align-items: initial !important;
  }

  .footer-p-div {
    width: 90vw !important;
    padding: 0 1vw !important;
    justify-content: center;
  }

  .footer-p {
    padding: 0;
  }

  .footer-ul {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
  }

  .footer-logos {
    justify-content: center;
  }

  .footer-details {
    margin-right: 0;
  }

  .footer-dowm {
    margin-top: 2vh;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .footer-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
  }
}