@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lora' !important;
    
}


.row{
    gap: 0 !important;
    align-items: normal !important;
    padding: 0 !important;
}

p{
    font-family: 'Lora' !important;
}

.dashboards{
    /* transform: scale(0.8); */
}