/* @font-face {
    font-family: 'Instrument Serif';
    src: url('../../assets/fonts/InstrumentSerif-Regular.ttf');
}
@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-VariableFont_wght.ttf');
} */
:root {
    --font-headers: 'Instrument Serif', serif;
    --font-principal: 'Lora', serif;
    --font-especial-title: calc(.45rem + 2vw);
    --font-especial: calc(0px + 1vw);
    --font-small:12px;
    --font-body:16px;
    --font-link:16px;
    --font-new:18px;
    --font-button:16px;
    --font-h4:22px;
    --font-h3:34px;
    --font-h2:54px;
    --font-h1:80px;
}