@import url('../../../../assets/styles/colors.css');
@import url('../../../../assets/styles/font.css');

.body_scroll{
  overflow-x: hidden;
} 

.indicadores{
    width: 98%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .indicadores-title{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
  }
  .indicadores-title h1{
    color:var(--clr-primary);
    font-family: var(--font-headers);
    font-size: var(--font-h3) !important;
  }

  .indicadores-content{
    position: relative;
    text-align: center;
    align-content: center;
  }
  
  .indicadores-content .dashboards {
    height: 100%;
    width: 96%;
  }
  
  .indicadores-content iframe{
    margin: 10px;
    width: 99vh;
    min-height:78vh;
  }